engine-strict=true
link-workspace-packages=true
prefer-workspace-packages=true
save-workspace-protocol=rolling
shared-workspace-lockfile=true
@xpertminds:registry=https://registry.npmjs.org/
always-auth=true
provenance=true
