.contentFooter {
  padding-top: 32px;
  background: var(--mantine-color-body);
  box-shadow: inset 0px 4px 32px 0px #00000032;
}

.footer {
  padding-bottom: 32px;
}

.title {
  font-size: 14px !important;
  font-weight: 300;
}

.columnAnchor {
  font-size: 12.8px !important;
  font-weight: 500 !important;
}

.lastDivider {
  @mixin light {
    box-shadow: 0 0px 20px 2px rgb(0, 0, 0, 0.2);
  }

  @mixin dark {
    box-shadow: 0 3px 8px 2px rgb(0, 0, 0, 0.5);
  }
}

.sponsorsSection {
  scroll-margin-top: rem(90px);
}

.sponsorSlot {
  border: 1px dashed var(--mantine-color-default-border);
  background-color: transparent;
  color: var(--mantine-color-dimmed);
}
